// auto generated
// don't modify
package {{javaPckg}};

import com.satori.libs.async.api.*;
import io.vertx.core.eventbus.*;

{{#imports*}}
import {{this}};
{{/imports*}}

public interface {{apiType}} {
  {{#operations*}}
  default IAsyncFuture<{{outputType}}> {{name}}({{#inputType}}{{this}} msg{{/inputType}}){
    throw new ReplyException(ReplyFailure.RECIPIENT_FAILURE, "not impelemented");
  }
  {{/operations*}}
}
