// auto generated
// don't modify
package {{javaPckg}};

import dagger.*;
import io.vertx.core.*;
import org.slf4j.*;
import javax.inject.*;

@Module
class {{moduleType}} {
  public final static String address = "{{serviceAddress}}";
  private final Logger log = LoggerFactory.getLogger(getClass());

  @Provides
  @Singleton
  {{apiType}} provideClient(Vertx vertx) {
    log.info("creating gtfs-lookup client...");
    return new {{proxyType}}(vertx, address);
  }

}